import java.util.Scanner;
public class App {

    public static void main(String[] args) {
        double itemPrice = 0;
        
        Scanner in = new Scanner(System.in);
        System.out.print("Enter item price:");
        itemPrice = in.nextDouble();
        
        
        double salesTax = 0; 
        System.out.print ("Enter Sales Tax:");
        salesTax = in.nextDouble();
        
        double totalTax = itemPrice * salesTax;
          
        double finalPrice = itemPrice + totalTax;
        System.out.println("Final purchase price is $:" + finalPrice);
                 
                 
       
    }
   }

